:root {
  --background: #ffffff;
  --foreground: #171717;
  --gradient1: rgb(255, 255, 255);
  --gradient2: rgba(238, 173, 32, 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "headertext";
  src: url("./fonts/header-text.ttf") format("truetype");
}

@font-face {
  font-family: "logotext";
  src: url("./fonts/logo-font.ttf") format("truetype");
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.main {
  position: absolute;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(18, 18, 18, 0.8);
}

.nav-header {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
}

.nav-links {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 37px;
  font-family: "headertext";
}

.nav-link {
  margin: 8vw;
  font-size: 23px;
  color: #c0c0c0;
}
:hover {
  color: #ffffff;
}

.logo-icon {
  position: absolute;
  top: 20px;
  left: 4vw;
  width: 50px;
  height: 50px;
}

@keyframes fadeInGradient {
  0% {
    background-position: 100% 0; /* Start with the gradient off-screen */
  }
  100% {
    background-position: 0 0; /* Move the gradient to reveal white */
  }
}

.title {
  position: absolute;
  width: 100vw;
  height: 100vh;
  align-content: center;
  text-align: center;
  font-size: 90px;
  color: transparent; /* Make text color transparent */
  background: linear-gradient(
    to right,
    var(--gradient1), var(--gradient1), var(--gradient1), var(--gradient1),
    var(--gradient2), var(--gradient2), var(--gradient2), var(--gradient2)
  ); /* Start with white */
  background-size: 200% 100%; /* Double the width for animation */
  background-position: 100% 0; /* Start with the gradient off-screen */
  -webkit-background-clip: text; /* Clip the background to the text */
  background-clip: text; /* Clip the background to the text */
  animation: fadeInGradient 4s ease forwards; /* Apply the animation */
  font-family: logotext;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
